#section01,
#section02 {
  position: relative;
  z-index: 500;
}

body {
  background: #212529;
  // overflow: hidden;
}

.mouse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 501;
  pointer-events: none;
}

line {
  stroke: rgba(214, 38, 38, 0.5);
  stroke-width: 20;
  stroke-linecap: round;
  stroke-opacity: 0.5;
  pointer-events: none;
}

.swiper {

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    color: white;
    opacity: 0.8;
  }

  .swiper-button-prev {
    left: 1rem;
  }

  &:hover {

    .swiper-button-prev,
    .swiper-button-next {
      display: block;
    }
  }
}