#navbar {
  font-size: 14px;
  height: 130px;
  margin-left: 0;
  margin-right: 0;
  // z-index: 2;

  .row {
    width: calc(100vw - 17px);
  }

  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }

  .col {
    align-items: center;
  }

  .dropdown-menu {
    backdrop-filter: blur(24px);
  }

  @include lg {
    top: 30px;
    margin: auto;
    position: fixed;

    .row {
      width: 100%;
    }
  }
}

#mainMenuBody {
  // overflow-y: scroll;
  // &::-webkit-scrollbar {
  //   width: 5px;
  //   height: 8px;
  //   background-color: #aaa;
  // }
  @include lg {
    height: 100%;
    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }

  .nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: rgb(214, 38, 38);
    transition: ease 0.3s;
  }

  .nav-link {
    height: 100% !important;
  }
}

.nav-link-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


#searchBar {
  background: #212529;
}

.modal-body {
  background: #212529;
  z-index: 2;
  // backdrop-filter: 0.7;
}

#rightOffcanvas>a {
  padding-right: 3%;

  .bi-twitter:hover,
  .bi-instagram:hover {
    fill: rgb(214, 38, 38);
  }
}

.skewbox {
  padding: 15px 30px;

  /* 發光外框 */
  ::before {
    content: '';
    position: absolute;
    transform: skewX(-10deg);
    border: 3px solid #1e2128;
    transition: ease 0.4s;
  }

  ::after {
    /* 發光線線 */
    content: '';
    position: absolute;
    background: #f8f9fa;
    display: block;
    width: 20px;
    height: 100%;
    left: -30%;
    top: -5%;
    opacity: 0.7;
    transform: skewX(10deg);
    transition: ease 1s;
  }
}